.app {
position: relative;
width: 100%;
}

.app__overlay {
position: absolute;
top: 0;
right: 0;
width: 75%;
height: 30rem;
mix-blend-mode: overlay;
-webkit-mask-image: radial-gradient(ellipse farthest-side at 75% 10%, black, transparent);
pointer-events: none;
}
.app__header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem 3rem;
background: #4ca1af;
}
.app__nav {
display: flex;
align-items: center;
list-style: none;
margin: 0;
padding: 0;
font-size: 1rem;
}
.app__nav li a {
text-transform: uppercase;
}
.app__nav li + li {
margin-left: 2rem
}
.app__search {
display: flex;
align-items: center;
background: transparent;
padding: 0.25rem;
padding-left: 0.375rem;
border: 1px solid rgba(255,255,255,0.5);
border-radius: 99px;
transition: width 0.2s;
width: calc(2rem + 1px);
overflow: hidden;
}
.app__search:hover {
width: 12rem;
}
.app__searchIcon {
margin-right: 0.375rem;
}
.app__search > input {
background: transparent;
color: #fff;
border: none;
width: 100%;
padding-right: 0.5rem;
}
.app__title {
font-size: 1.5rem;
font-weight: 900;
font-family: "Work Sans", sans-serif;
margin: 0;
}

.app__featured {
padding: 7rem 3rem 3rem;
width: 100%;
background: linear-gradient(to top, #3a6979, #4ca1af);
}
.app__featuredInfo {
margin: 0;
font-weight: 500;
text-transform: uppercase;
}
.app__featuredTitle {
font-weight: 900;
}
.app__featuredDesc {
width: 50%;
}
.app__featuredDesc  a {
opacity: 0.5;
transition: opacity 0.1s ease;
}
.app__featuredDesc  a:hover {
opacity: 0.95;
}
.app__featuredRating {
display: flex;
align-items: center;
margin-bottom: 1rem;
}
.MuiRating-iconEmpty {
color: rgba(255,255,255,0.25) !important;
}
.app__featuredLikes {
margin: 0 0 8px 0.5rem;
}
.app__button {
border-radius: 99px !important;
color: #3a6979 !important;
font-weight: 500 !important;
font-family: "Work Sans", sans-serif !important;
background-color: rgb(255,255,255) !important;
}
.app__button:hover {
background-color: rgb(215,215,215) !important;
}