.app {
position: relative;
width: 100%;
}

.app__overlay {
position: absolute;
top: 0;
right: 0;
width: 75%;
height: 30rem;
mix-blend-mode: overlay;
-webkit-mask-image: radial-gradient(ellipse farthest-side at 75% 10%, black, transparent);
pointer-events: none;
}