.modal-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000000;
	cursor: pointer;
	opacity: 1;
}

.modal-video-movie-wrap {
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
}

.modal-video-movie-wrap iframe {
	max-width: 720px;
	max-width: 480px;
	width: 100%;
	height: auto;
}

.modal-video-close-btn {
	position: absolute;
	z-index: 2;
	top: 2rem;
	right: rem;
	display: inline-block;
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	border: none;
	background: transparent;
}

.modal-video-close-btn:before {
	transform: translate(-50%, -50%) rotate(45deg)
}

.modal-video-close-btn:after {
	transform: translate(-50%, -50%) rotate(-45deg)
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 50%;
	background: #fff;
	border-radius: 99px;
}